<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sao.so.supplier.dao.AccountUserDao">
  <resultMap id="BaseResultMap" type="so.sao.shop.supplier.domain.AccountUser">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="active_time" jdbcType="BIGINT" property="activeTime" />
    <result column="login_time" jdbcType="BIGINT" property="loginTime" />
    <result column="last_login_time" jdbcType="BIGINT" property="lastLoginTime" />
    <result column="user_status" jdbcType="CHAR" property="userStatus" />
    <result column="provider_name" jdbcType="VARCHAR" property="providerName" />
    <result column="responsible" jdbcType="VARCHAR" property="responsible" />
    <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
    <result column="regist_address" jdbcType="VARCHAR" property="registAddress" />
    <result column="service_type" jdbcType="VARCHAR" property="serviceType" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="license" jdbcType="VARCHAR" property="license" />
    <result column="buyer_name" jdbcType="VARCHAR" property="buyerName" />
    <result column="taxpayer_num" jdbcType="VARCHAR" property="taxpayerNum" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_name_branch" jdbcType="VARCHAR" property="bankNameBranch" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="company_phone" jdbcType="VARCHAR" property="companyPhone" />
    <result column="provider_desc" jdbcType="VARCHAR" property="providerDesc" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, login_name, login_password, user_email, active_time, login_time, last_login_time, 
    user_status, provider_name, responsible, phone_num, regist_address, service_type, 
    business_type, license, buyer_name, taxpayer_num, bank_account, bank_name, bank_name_branch, 
    company_address, company_phone, provider_desc, created_at, updated_at, remark
  </sql>

</mapper>