<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.AppPurchaseItemDao">
    <!--App端查询全部订单详情-->
    <resultMap id="AppGoodsAllList" type="so.sao.shop.supplier.pojo.vo.AppPurchaseItemVo">
        <result column="goods_image" property="goodsImage"/>
        <result column="goods_name" property="goodsName"/>
        <result column="goods_unit_price" property="goodsUnitPrice"/>
        <result column="goods_number" property="goodsNumber"/>
        <result column="goods_tatol_price" property="goodsTatolPrice"/>
        <result column="goods_attribute" property="goodsAttribute"/>
    </resultMap>
    <sql id="App_Goods_Column_List">
       g.goods_image, g.goods_name, g.goods_unit_price, g.goods_number, g.goods_tatol_price, g.goods_attribute
    </sql>
    <select id="findOrderItemList" parameterType="java.util.List" resultMap="AppGoodsAllList">
        SELECT
        <include refid="App_Goods_Column_List"/>
        FROM purchase_item g
        JOIN purchase p
        ON p.order_id = g.order_id
        AND p.order_id IN
        <foreach collection="orderIdList" item="orderId" open="(" close=")" separator="," index="i">
            #{orderId,jdbcType=VARCHAR}
        </foreach>
    </select>


</mapper>
