<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="so.sao.shop.supplier.dao.AppCartItemDao" >
  <resultMap id="BaseResultMap" type="so.sao.shop.supplier.domain.AppCartItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT"  />
    <result column="supplier_id" property="supplierId" jdbcType="BIGINT" />
    <result column="commodity_id" property="commodityId" jdbcType="BIGINT" />
    <result column="commodity_price" property="commodityPrice" jdbcType="DECIMAL" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="commodity_properties" property="commodityProperties" jdbcType="VARCHAR" />
    <result column="commodity_pic" property="commodityPic" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt"  />
    <result column="updated_at" property="updatedAt"  />

    <result column="measure_spec_id" property="measureSpecId"   jdbcType="BIGINT" />
    <result column="measure_spec_name" property="measureSpecName"  jdbcType="VARCHAR"  />
    <result column="rule_val" property="ruleVal"  jdbcType="VARCHAR"  />
    <result column="unit_id" property="unitId"   jdbcType="BIGINT" />
    <result column="unit_name" property="unitName"  jdbcType="VARCHAR"  />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, supplier_id, commodity_id, commodity_price, commodity_name, commodity_properties,
    commodity_pic, supplier_name, created_at, updated_at, count,
    measure_spec_id,measure_spec_name,rule_val,unit_id,unit_name
  </sql>



  <select id="findExistsCartItem" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from cart_item
    where user_id = #{user_id,jdbcType=BIGINT}
    AND commodity_id = #{commodity_id,jdbcType=BIGINT}
  </select>

  <select id="findCartItemByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from cart_item
    where user_id = #{user_id,jdbcType=BIGINT}
  </select>






  <delete id="deleteBatchByPrimaryKey" parameterType="java.lang.Long" >
    delete from cart_item
    where
    id in
    <foreach item="id" collection="list" open="(" separator="," close=")">
      #{id,jdbcType=BIGINT}
    </foreach>

  </delete>



  <select id="findCartItemById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from cart_item
    where id = #{id,jdbcType=BIGINT}
  </select>



  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cart_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cart_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="so.sao.shop.supplier.domain.AppCartItem">
    insert into cart_item (id, user_id, supplier_id,
    supplier_name, commodity_id, commodity_price,
    commodity_name, commodity_pic, measure_spec_id,
    measure_spec_name, rule_val, unit_id,
    unit_name, commodity_properties, created_at,
    updated_at, count)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{supplierId,jdbcType=BIGINT},
    #{supplierName,jdbcType=VARCHAR}, #{commodityId,jdbcType=BIGINT}, #{commodityPrice,jdbcType=DECIMAL},
    #{commodityName,jdbcType=VARCHAR}, #{commodityPic,jdbcType=VARCHAR}, #{measureSpecId,jdbcType=BIGINT},
    #{measureSpecName,jdbcType=VARCHAR}, #{ruleVal,jdbcType=VARCHAR}, #{unitId,jdbcType=BIGINT},
    #{unitName,jdbcType=VARCHAR}, #{commodityProperties,jdbcType=VARCHAR}, #{createdAt,jdbcType=BIGINT},
    #{updatedAt,jdbcType=BIGINT}, #{count,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="so.sao.shop.supplier.domain.AppCartItem">
    insert into cart_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityPrice != null">
        commodity_price,
      </if>
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="commodityPic != null">
        commodity_pic,
      </if>
      <if test="measureSpecId != null">
        measure_spec_id,
      </if>
      <if test="measureSpecName != null">
        measure_spec_name,
      </if>
      <if test="ruleVal != null">
        rule_val,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="commodityProperties != null">
        commodity_properties,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="commodityPrice != null">
        #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPic != null">
        #{commodityPic,jdbcType=VARCHAR},
      </if>
      <if test="measureSpecId != null">
        #{measureSpecId,jdbcType=BIGINT},
      </if>
      <if test="measureSpecName != null">
        #{measureSpecName,jdbcType=VARCHAR},
      </if>
      <if test="ruleVal != null">
        #{ruleVal,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=BIGINT},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="commodityProperties != null">
        #{commodityProperties,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="so.sao.shop.supplier.domain.AppCartItem">
    update cart_item
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=BIGINT},
      </if>
      <if test="supplierName != null">
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=BIGINT},
      </if>
      <if test="commodityPrice != null">
        commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityPic != null">
        commodity_pic = #{commodityPic,jdbcType=VARCHAR},
      </if>
      <if test="measureSpecId != null">
        measure_spec_id = #{measureSpecId,jdbcType=BIGINT},
      </if>
      <if test="measureSpecName != null">
        measure_spec_name = #{measureSpecName,jdbcType=VARCHAR},
      </if>
      <if test="ruleVal != null">
        rule_val = #{ruleVal,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=BIGINT},
      </if>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="commodityProperties != null">
        commodity_properties = #{commodityProperties,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="so.sao.shop.supplier.domain.AppCartItem">
    update cart_item
    set user_id = #{userId,jdbcType=BIGINT},
      supplier_id = #{supplierId,jdbcType=BIGINT},
      supplier_name = #{supplierName,jdbcType=VARCHAR},
      commodity_id = #{commodityId,jdbcType=BIGINT},
      commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_pic = #{commodityPic,jdbcType=VARCHAR},
      measure_spec_id = #{measureSpecId,jdbcType=BIGINT},
      measure_spec_name = #{measureSpecName,jdbcType=VARCHAR},
      rule_val = #{ruleVal,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=BIGINT},
      unit_name = #{unitName,jdbcType=VARCHAR},
      commodity_properties = #{commodityProperties,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=BIGINT},
      count = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>