<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sao.so.shop.dao.CommCategoryShipDao">
    <insert id="save"  useGeneratedKeys="true" keyProperty="id">
        insert comm_category_ship (
            comm_id,
            comm_name,
            category_id,
            category_name
        )VALUES (
            #{commId},
            #{commName},
            #{categoryId},
            #{categoryName}
        )
    </insert>
    <select id="findById"  resultType="com.sao.so.shop.domain.CommCategoryShip">
        SELECT
            id,
            comm_id AS commId,
            comm_name AS commName,
            category_id AS categoryId,
            category_name AS categoryName
        FROM commodity WHERE id=#{id}
    </select>
    <delete id="deleteByTypeId">
         DELETE FROM comm_category_ship WHERE type_id = #{typeId}
    </delete>
    <delete id="deleteByCommId">
        DELETE FROM comm_category_ship WHERE comm_id = #{commId}
    </delete>
</mapper>