<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.CommUnitDao">
    <resultMap id="CommUnitResultMap" type="so.sao.shop.supplier.domain.CommUnit">
        <id column="id"  property="id"/>
        <result column="name"  property="name"/>
        <result column="supplier_id"  property="supplierId"/>
        <result column="created_at"  property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <!--查询商品单位集合-->
   <select id="search" resultMap="CommUnitResultMap">
       SELECT id,name,supplier_id
       FROM comm_unit
       WHERE supplier_id=0
       OR supplier_id=#{supplierId}
       ORDER BY updated_at
       DESC
   </select>

    <!--新增商品单位-->
    <insert id="save" parameterType="so.sao.shop.supplier.domain.CommUnit">
        INSERT INTO comm_unit(name,supplier_id, created_at,updated_at)
        VALUES (#{name},#{supplierId},#{createdAt},#{updatedAt})
    </insert>

    <!--查询商品单位是否重复-->
    <select id="findNameAndSupplierId" resultMap="CommUnitResultMap">
        SELECT id,supplier_id,name
        FROM comm_unit
        where name = #{name}
        AND ( supplier_id=0 OR supplier_id=#{supplierId} )
    </select>

    <!--findOneById 通过商品单位id 查comm_Unit -->
    <select id="findOne" resultMap="CommUnitResultMap">
        SELECT id, NAME,
        supplier_id , created_at, updated_at
        FROM comm_unit
        WHERE id = #{id}
    </select>

    <!--根据id查询个数-->
    <select id="countById" resultType="int">
        select
        count(*)
        from comm_unit where id = #{id}
    </select>

    <!--通过name和供应商id判断商品单位是否重复-->
    <select id="countByNameAndSupplierId" resultType="int">
       SELECT COUNT(NAME)
        FROM comm_unit
        WHERE NAME = #{name}
        AND ( supplier_id=0 OR supplier_id=#{supplierId} )
    </select>

    <!--删除商品单位-->
    <delete id="deleteById" parameterType="so.sao.shop.supplier.domain.CommUnit">
        DELETE FROM comm_unit
        WHERE id=#{id}
    </delete>
    
    <!--更新商品单位-->
    <update id="update" parameterType="so.sao.shop.supplier.domain.CommUnit">
        UPDATE comm_unit
        SET name=#{name},updated_at=#{updatedAt}
        WHERE id=#{id}
    </update>
</mapper>