<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sao.so.supplier.dao.CommImgeDao">
    <sql id="baseColumns">
        id,
        sc_id AS  scId,
        name,
        url,
        type,
        size
    </sql>

    <select id="find" resultType="com.sao.so.supplier.domain.CommImge">
        SELECT
        <include refid="baseColumns"/>
        FROM comm_imge WHERE sc_id = #{scId}
    </select>
    <select id="findOne" resultType="com.sao.so.supplier.domain.CommImge">
        SELECT
        <include refid="baseColumns"/>
        FROM comm_imge WHERE id=#{id}
    </select>
    <insert id="save"   useGeneratedKeys="true" keyProperty="id">
        insert comm_imge (
        sc_id,
        name,
        url,
        type,
        size
        )VALUES (
        #{scId},
        #{name},
        #{url},
        #{type},
        #{size}
        )
    </insert>
    <update id="update">
        UPDATE comm_imge SET name=#{name},url = #{url},type = #{type},size = #{size} WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM comm_imge WHERE id=#{id}
    </delete>
</mapper>