<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.CommBrandDao">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert comm_brand (
            name,
            deleted,
            created_at,
            updated_at,
            created_by,
            updated_by
        )VALUES (
            #{name},
            #{deleted},
            #{createdAt},
            #{updatedAt},
            #{createdBy},
            #{updatedBy}
        )
    </insert>
    <select id="findByName" resultType="so.sao.shop.supplier.domain.CommBrand">
        SELECT id, name,deleted FROM comm_brand WHERE deleted != '1' AND name = #{name}
    </select>
    <select id="find" resultType="so.sao.shop.supplier.domain.CommBrand">
        SELECT id, name,deleted FROM comm_brand
    </select>

</mapper>