<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.CommCategoryDao">

    <resultMap id="baseCommCategory" type="so.sao.shop.supplier.domain.CommCategory">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="name" property="name"/>
        <result column="remark" property="remark"/>
        <result column="level" property="level"/>
        <result column="sort" property="sort"/>
        <result column="deleted" property="deleted"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="baseColumns">
        id AS id,
        pid AS pid,
        name AS name,
        level AS level,
        remark AS remark,
        sort AS sort,
        deleted AS deleted,
        code
    </sql>

    <!--查询商品品类列表-->
    <select id="find" resultType="so.sao.shop.supplier.domain.CommCategory">
        SELECT
        cy.id,cy.name
        FROM comm_category cy
        WHERE
        cy.pid=#{pid}
        ORDER BY cy.sort
    </select>

    <!--查询商品品类列表-->
    <select id="findByIds" resultType="so.sao.shop.supplier.domain.CommCategory">
        SELECT
        <include refid="baseColumns"/>
        FROM comm_category
        WHERE
        id in (#{commCategoryOneId},#{commCategoryTwoId},#{commCategoryThreeId})
    </select>

    <select id="findOneByName" resultType="so.sao.shop.supplier.domain.CommCategory">
        SELECT
        <include refid="baseColumns"/>
        FROM comm_category WHERE name = #{name}
    </select>

    <select id="findById" resultType="so.sao.shop.supplier.domain.CommCategory">
        SELECT
        <include refid="baseColumns"/>
        FROM comm_category WHERE id = #{id}
    </select>

    <!-- 根据商品 名称查询， 返回商品输出对象 -->
    <select id="findCommCategoryByNameAndPid" resultMap="baseCommCategory" >
        SELECT  id,pid,name, remark,level,sort,deleted,created_at, updated_at
        FROM  comm_category commC
        WHERE  commC.name =#{commCategoryName} and commC.pid = #{pid}
    </select>

</mapper>