<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.CountSoldCommDao">
    <!--统计已销售的商品数量-->
    <resultMap id="goodsCountNum" type="so.sao.shop.supplier.pojo.vo.CountSoldNumVo">
        <result column="goods_id" property="goodsId"/>
        <result column="goods_count_num" property="goodsCountNum"/>
    </resultMap>
    <select id="countSoldCommNum" parameterType="java.util.Arrays" resultMap="goodsCountNum">
        SELECT
        goods_id,
        COUNT(goods_number) AS goods_count_num
        FROM
        purchase_item item
        LEFT JOIN
        purchase p
        ON
        p.order_id=item.order_id
        WHERE
        item.goods_id
        IN
        <foreach collection="goodsIds" open="(" close=")" separator="," index="i" item="goodsId">
            #{goodsId}
        </foreach>
        AND p.order_status = 4
        GROUP BY item.goods_id
    </select>
</mapper>
