<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="so.sao.shop.supplier.dao.DistributionScopeDao">
    <resultMap id="BaseResultMap" type="so.sao.shop.supplier.domain.DistributionScope">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="supplier_id" jdbcType="BIGINT" property="supplierId" />
        <result column="address_province" jdbcType="VARCHAR" property="addressProvince" />
        <result column="address_city" jdbcType="VARCHAR" property="addressCity" />
        <result column="address_district" jdbcType="VARCHAR" property="addressDistrict" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    </resultMap>
    <sql id="Base_Column_List">
        id, supplier_id AS supplierId, address_province AS addressProvince, address_city AS addressCity, address_district AS addressDistrict, remark, created_at AS createdAt,
        update_at AS updateAt
    </sql>
    <!-- 增加配送范围 -->
    <insert id="insert" parameterType="so.sao.shop.supplier.domain.DistributionScope">
        INSERT INTO distribution_scope (id, supplier_id, address_province,
        address_city, address_district, remark,
        created_at, update_at)
        VALUES (#{id,jdbcType=INTEGER}, #{supplierId,jdbcType=BIGINT}, #{addressProvince,jdbcType=VARCHAR},
        #{addressCity,jdbcType=VARCHAR}, #{addressDistrict,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{createdAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP})
    </insert>
    <!-- 更新某条信息 -->
    <update id="update" parameterType="so.sao.shop.supplier.domain.DistributionScope">
        update distribution_scope
        set supplier_id = #{supplierId,jdbcType=BIGINT},
        address_province = #{addressProvince,jdbcType=VARCHAR},
        address_city = #{addressCity,jdbcType=VARCHAR},
        address_district = #{addressDistrict,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        created_at = #{createdAt,jdbcType=TIMESTAMP},
        update_at = #{updateAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- 获取供应商配送范围列表 -->
    <select id="queryAll" resultType="so.sao.shop.supplier.domain.DistributionScope" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List" />
        FROM distribution_scope
        WHERE supplier_id = #{accountId,jdbcType=BIGINT}
        ORDER BY created_at DESC
    </select>
    <!-- 获取某条信息 -->
    <select id="query" resultType="so.sao.shop.supplier.domain.DistributionScope" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List" />
        FROM distribution_scope
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <!-- 删除一条信息 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from distribution_scope
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>