<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.FeedBackDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="so.sao.shop.supplier.domain.Feedback">
        <id column="id" property="id"/>
        <result column="account_id" property="accountId"/>
        <result column="suggest" property="suggest"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_id AS accountId, suggest, created_at AS createdAt
    </sql>
    <!-- 插入数据 -->
    <insert id="insert" parameterType="so.sao.shop.supplier.domain.Feedback">
        INSERT INTO feedback (id, account_id, suggest,
        created_at)
        VALUES (#{id,jdbcType=INTEGER}, #{accountId,jdbcType=BIGINT}, #{suggest,jdbcType=VARCHAR},
        #{createdAt,jdbcType=TIMESTAMP})
    </insert>
</mapper>
