<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.LogisticsDao">
    <!--将传过来的快递公司英文code转化成中文-->
    <select id="findCompanyNameByCom" parameterType="java.lang.String" resultType="java.lang.String">
        select
        name
        from dict_item
        where code = #{comStr}
        and dict_type = 4
    </select>
</mapper>