<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.OrderMoneyRecordDao">
  <resultMap id="BaseResultMap" type="so.sao.shop.supplier.domain.OrderMoneyRecord">
    <id column="record_id" property="recordId" />
    <result column="user_id" property="userId" />
    <result column="bank_name" property="bankName" />
    <result column="bank_name_branch" property="bankNameBranch" />
    <result column="bank_account" property="bankAccount" />
    <result column="total_money" property="totalMoney" />
    <result column="state" property="state" />
    <result column="created_at"  property="createdAt" />
    <result column="updated_at" property="updatedAt" />
    <result column="serial_number" property="serialNumber" />
    <result column="order_id" property="orderId" />
  </resultMap>
  <sql id="Base_Column_List">
    record_id, user_id, bank_name, bank_name_branch, bank_account, total_money, state, created_at, updated_at, serial_number, order_id
  </sql>

  <!--保存提现申请-->
  <insert id="save" parameterType="so.sao.shop.supplier.domain.OrderMoneyRecord" useGeneratedKeys="true">
    INSERT INTO order_money_record (user_id, bank_name, bank_name_branch, bank_account, total_money, state, created_at, updated_at, serial_number, order_id)
    VALUES(#{userId}, #{bankName}, #{bankNameBranch}, #{bankAccount}, #{totalMoney}, #{state}, #{createdAt}, #{updatedAt}, #{serialNumber}, #{orderId})
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="recordId">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <!--查找提现申请-->
  <select id="findPageByState" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    FROM order_money_record
    WHERE state = '0'
      <if test="input != null">
        <if test="input.startDate != null and input.startDate != '' ">
          AND created_at &gt;= #{input.startDate}
        </if>
        <if test="input.endDate != null and input.endDate != '' ">
          AND created_at &lt;= #{input.endDate}
        </if>
        <if test="input.startMoney != null and input.startMoney != '' ">
          AND total_money &gt;= #{input.startMoney}
        </if>
        <if test="input.endMoney != null and input.endMoney != '' ">
          AND total_money &lt;= #{input.endMoney}
        </if>
      </if>
  </select>

  <!--根据提现申请id查找提现申请实体-->
  <select id="findOne" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List" />
    FROM order_money_record
    WHERE record_id = #{recordId}
  </select>

  <!--根据提现申请记录修改提现申请状态-->
  <update id="updateOrderMoneyRecord" parameterType="so.sao.shop.supplier.domain.OrderMoneyRecord">
    UPDATE order_money_record
    <set>
      <if test="state != null">
        state = #{state},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt},
      </if>
    </set>
    WHERE record_id = #{recordId}
  </update>

  <!--根据UserId查询该账户名下所有的提现记录-->
  <select id="findPage" resultMap="BaseResultMap">
    SELECT record_id,
    user_id,
    bank_name,
    bank_name_branch,
    bank_account,
    total_money,
    state,
    created_at,
    updated_at,
    serial_number
    FROM order_money_record
    WHERE user_id=#{userId}
    <if test="put !=null">
      <if test="put.startTime !=null and put.startTime !=''">
        And created_at &gt;= #{put.startTime}
      </if>
      <if test="put.endTime !=null and put.endTime !=''">
        And created_at &lt;= #{put.endTime}
      </if>
      <if test="put.startMoney !=null and put.startMoney !=''">
        And total_money &gt;= #{put.startMoney}
      </if>
      <if test="put.endMoney !=null and put.endMoney !=''">
        And total_money &lt;= #{put.endMoney}
      </if>
      <if test="put.state !=null and put.state !=''">
        And state = #{put.state}
      </if>
    </if>
    ORDER BY created_at DESC
  </select>

</mapper>