<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sao.so.supplier.dao.PurchaseItemDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sao.so.supplier.domain.PurchaseItem">
        <id column="details_id" property="detailsId"/>
        <result column="goods_attribute" property="goodsAttribute"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_number" property="goodsNumber"/>
        <result column="goods_unit_price" property="goodsUnitPrice"/>
        <result column="goods_tatol_price" property="goodsTatolPrice"/>
        <result column="goods_favourable" property="goodsFavourable"/>
        <result column="goods_image" property="goodsImage"/>
        <result column="goods_name" property="goodsName"/>
        <result column="order_id" property="orderId"/>
    </resultMap>

    <resultMap id="PurchaseItemList" type="com.sao.so.supplier.pojo.vo.PurchaseItemVo">
        <result column="goods_attribute" property="goodsAttribute"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_number" property="goodsNumber"/>
        <result column="goods_tatol_price" property="goodsTatolPrice"/>
        <result column="goods_image" property="goodsImage"/>
        <result column="goods_name" property="goodsName"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    details_id AS detailsId, goods_attribute AS goodsAttribute, goods_id AS goodsId, goods_number AS goodsNumber, goods_unit_price AS goodsUnitPrice, goods_tatol_price AS goodsTatolPrice, goods_favourable AS goodsFavourable, goods_image AS goodsImage, goods_name AS goodsName, order_id AS orderId, store_id AS storeId, store_name AS storeName
  </sql>

    <!-- 根据订单ID查询订单明细 -->
    <select id="getOrderDetailByOId" resultMap="PurchaseItemList" parameterType="java.lang.Long">
        SELECT
        pi.goods_image,
        pi.goods_name,
        pi.goods_attribute,
        pi.goods_id,
        pi.goods_number,
        pi.goods_unit_price
        FROM
        purchase_item pi
        JOIN purchase p ON p.order_id = pi.order_id
        and p.order_id = #{orderId,jdbcType=BIGINT}
    </select>
    <!-- 批量添加订单详情 -->
    <insert id="savePurchaseItem" parameterType="java.util.List">
        INSERT INTO purchase_item
            (
                goods_attribute,
                goods_id,
                goods_number,
                goods_unit_price,
                goods_tatol_price,
                goods_favourable,
                goods_image,
                goods_name,
                order_id
            )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
                #{item.goodsAttribute},
                #{item.goodsId},
                #{item.goodsNumber},
                #{item.goodsUnitPrice},
                #{item.goodsTatolPrice},
                #{item.goodsFavourable},
                #{item.goodsImage},
                #{item.goodsName},
                #{item.orderId}
            )
        </foreach>
    </insert>

    <!-- 分页条件检索-->
    <select id="findPage" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        GOODS_ID,GOODS_NAME,GOODS_NUMBER,GOODS_UNIT_PRICE
        FROM PURCHASE_ITEM
        WHERE ORDER_ID = #{orderId,jdbcType=BIGINT}
    </select>

    <!--条件查询数量-->
    <select id="countByOrderId"  resultType="java.lang.Integer" parameterType="java.lang.Long">
        SELECT COUNT(ORDER_ID)
        FROM PURCHASE_ITEM
        WHERE ORDER_ID = #{orderId,jdbcType=BIGINT}
    </select>

</mapper>
