<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.PurchaseItemDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="so.sao.shop.supplier.domain.PurchaseItem">
        <id column="details_id" property="detailsId"/>
        <result column="goods_attribute" property="goodsAttribute"/>
        <result column="goods_id" property="goodsId"/>
        <result column="code69" property="code69"/>
        <result column="goods_number" property="goodsNumber"/>
        <result column="goods_unit_price" property="goodsUnitPrice"/>
        <result column="goods_tatol_price" property="goodsTatolPrice"/>
        <result column="goods_favourable" property="goodsFavourable"/>
        <result column="goods_image" property="goodsImage"/>
        <result column="goods_name" property="goodsName"/>
        <result column="order_id" property="orderId"/>
        <result column="brand_name" property="brandName"/>
    </resultMap>

    <resultMap id="PurchaseItemList" type="so.sao.shop.supplier.pojo.vo.PurchaseItemVo">
        <result column="goods_attribute" property="goodsAttribute"/>
        <result column="goods_id" property="goodsId"/>
        <result column="code69" property="code69"/>
        <result column="goods_number" property="goodsNumber"/>
        <result column="goods_tatol_price" property="goodsTatolPrice"/>
        <result column="goods_image" property="goodsImage"/>
        <result column="goods_name" property="goodsName"/>
        <result column="brand_name" property="brandName"/>
        <result column="goods_unit_price" property="goodsUnitPrice"/>
    </resultMap>

    <!--收入明细中的订单明细映射结果-->
    <resultMap id="PurchaseItemVo" type="so.sao.shop.supplier.pojo.vo.AccountPurchaseItemVo">
        <result column="goods_name" property="goodsName"/>
        <result column="goods_number" property="goodsNumber"/>
        <result column="code" property="code"/>
        <result column="code69" property="code69"/>
        <result column="goods_attribute" property="goodsAttribute"/>
        <result column="goods_unit_price" property="goodsUnitPrice"/>
        <result column="goods_tatol_price" property="goodsTatolPrice"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    details_id AS detailsId, goods_attribute AS goodsAttribute, goods_id AS goodsId, code69, goods_number AS goodsNumber, goods_unit_price AS goodsUnitPrice, goods_tatol_price AS goodsTatolPrice, goods_favourable AS goodsFavourable, goods_image AS goodsImage, goods_name AS goodsName, order_id AS orderId, store_id AS storeId, store_name AS storeName
  </sql>

    <!-- 根据订单ID查询订单明细 -->
    <select id="getOrderDetailByOId" resultMap="PurchaseItemList" parameterType="java.lang.String">
        SELECT
        pi.goods_image,
        pi.goods_name,
        pi.goods_attribute,
        pi.goods_id,
        pi.code69,
        pi.goods_number,
        pi.goods_tatol_price,
        pi.brand_name,
        pi.goods_unit_price
        FROM
        purchase_item pi
        JOIN purchase p ON p.order_id = pi.order_id
        and p.order_id = #{orderId,jdbcType=VARCHAR}
    </select>
    <!-- 批量添加订单详情 -->
    <insert id="savePurchaseItem" parameterType="java.util.List">
        INSERT INTO purchase_item
            (
                goods_attribute,
                goods_id,
                code69,
                goods_number,
                goods_unit_price,
                goods_tatol_price,
                goods_favourable,
                goods_image,
                goods_name,
                order_id,
                brand_name,
                pay_id
            )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
                #{item.goodsAttribute},
                #{item.goodsId},
                #{item.code69},
                #{item.goodsNumber},
                #{item.goodsUnitPrice},
                #{item.goodsTatolPrice},
                #{item.goodsFavourable},
                #{item.goodsImage},
                #{item.goodsName},
                #{item.orderId},
                #{item.brandName},
                #{item.payId}
            )
        </foreach>
    </insert>

    <!-- 根据订单编号分页条件检索订单明细-->
    <select id="findPage" resultMap="PurchaseItemVo" parameterType="java.lang.String">
        <!--商品名称,商品商家编号,商品条码,购买数量,商品规格,单价,总额-->
        SELECT
        p.GOODS_NAME,p.GOODS_NUMBER,p.GOODS_ATTRIBUTE,p.GOODS_UNIT_PRICE,p.GOODS_TATOL_PRICE,p.code69,s.code
        FROM PURCHASE_ITEM p
        LEFT JOIN supplier_commodity s ON s.id = p.goods_id
        WHERE ORDER_ID = #{orderId,jdbcType=BIGINT}
    </select>

    <!-- 根据订单查询订单对应的所有商品条目 -->
    <select id="findPrintItems" resultType="so.sao.shop.supplier.pojo.vo.PurchaseItemPrintVo">
        SELECT
            g.goods_name AS goodsName,
            c.code69 AS code69,
            g.goods_id AS goodsId,
            g.brand_name AS brandName,
            g.goods_attribute AS goodsAttribute,
            g.goods_unit_price AS goodsUnitPrice,
            g.goods_number AS goodsNumber,
            g.goods_tatol_price AS goodsTatolPrice
        FROM PURCHASE_ITEM g
        LEFT JOIN SUPPLIER_COMMODITY c ON g.goods_id = c.id
        WHERE  ORDER_ID = #{orderId,jdbcType=BIGINT}
    </select>
</mapper>
