<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.QrcodeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="so.sao.shop.supplier.domain.Qrcode">
        <id column="qrcode_id" property="qrcodeId"/>
        <result column="foreign_key" property="foreignKey"/>
        <result column="url" property="url"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="disabled_at" property="disabledAt"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            qrcode_id,
            foreign_key,
            url,
            content,
            status,
            created_at,
            updated_at,
            disabled_at,
            width,
            height
    </sql>

    <!-- 保存二维码 -->
    <insert id="save" parameterType="so.sao.shop.supplier.domain.Qrcode">
        INSERT INTO qrcode
            (
                qrcode_id,
                foreign_key,
                url,
                content,
                status,
                created_at,
                disabled_at,
                width,
                height
            )
        VALUES
            (
                #{qrcodeId},
                #{foreignKey},
                #{url},
                #{content},
                #{status},
                #{createdAt},
                #{disabledAt},
                #{width},
                #{height}
            )
    </insert>
    <!-- 批量添加二维码 -->
    <insert id="saveQrcodes" parameterType="java.util.List">
        INSERT INTO qrcode
        (
        qrcode_id,
        foreign_key,
        url,
        content,
        status,
        created_at,
        disabled_at,
        width,
        height
        )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.qrcodeId},
            #{item.foreignKey},
            #{item.url},
            #{item.content},
            #{item.status},
            #{item.createdAt},
            #{item.disabledAt},
            #{item.width},
            #{item.height}
            )
        </foreach>
    </insert>

    <!-- 修改二维码状态 -->
    <update id="updateStatus">
        UPDATE qrcode
        SET
        <if test="@so.sao.shop.supplier.util.Ognl@isNotEmpty(status)">
          status = #{status},
        </if>
        <if test="@so.sao.shop.supplier.util.Ognl@isNotEmpty(disabledAt)">
          disabled_at = #{disabledAt},
        </if>
        <if test="@so.sao.shop.supplier.util.Ognl@isNotEmpty(updatedAt)">
          updated_at = #{updatedAt}
        </if>
        WHERE foreign_key = #{orderId}
    </update>

    <!-- 根据订单编号查询关联的二维码 -->
    <select id="findQrcodeByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM qrcode
        WHERE foreign_key = #{orderId}
        ORDER BY created_at DESC
    </select>

    <!--根据支付id查询对应订单的二维码，返回二维码数量-->
    <select id="getQrcodesByPayId" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(order_id)
        from purchase p
        where pay_id = #{payId}
        AND EXISTS (
        SELECT qrcode_id
        from qrcode q
        where p.order_id=q.foreign_key
        )
    </select>
</mapper>
