<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.ReceiptDao">
  <resultMap id="BaseResultMap" type="so.sao.shop.supplier.domain.Receipt">
    <id column="receipt_id" jdbcType="BIGINT" property="receiptId" />
    <result column="receipt_type" jdbcType="INTEGER" property="receiptType" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="taxpayer_number" jdbcType="BIGINT" property="taxpayerNumber" />
    <result column="receipt_content_id" jdbcType="BIGINT" property="receiptContentId" />
    <result column="receipt_content" jdbcType="VARCHAR" property="receiptContent" />
    <result column="register_adress" jdbcType="VARCHAR" property="registerAdress" />
    <result column="register_phone" jdbcType="VARCHAR" property="registerPhone" />
    <result column="deposit_bank" jdbcType="VARCHAR" property="depositBank" />
    <result column="bank_amount" jdbcType="VARCHAR" property="bankAmount" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    receipt_id, receipt_type, company, taxpayer_number, receipt_content_id, receipt_content,
    register_adress, register_phone, deposit_bank, bank_amount, user_id, create_time,
    update_time
  </sql>
</mapper>