<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="so.sao.shop.supplier.dao.SupplierRecordDao">
    <resultMap id="accountMap" type="so.sao.shop.supplier.domain.SupplierRecord">
        <id column="createDate" property="createDate"/>
        <id column="provider_name" jdbcType="VARCHAR" property="providerName"/>
        <id column="responsible" jdbcType="VARCHAR" property="responsible"/>
        <id column="upload_mode" jdbcType="VARCHAR" property="uploadMode"/>
    </resultMap>

    <select id="findPage" resultMap="accountMap" parameterType="so.sao.shop.supplier.pojo.input.AccountInput">
        SELECT create_date AS createDate,provider_name,responsible,upload_mode
        FROM account
        <where>
            1=1
            <if test="uploadMode != null">
                upload_mode = #{uploadMode}
            </if>
            <if test="beginDate != null">
                create_date &gt;= #{beginDate}
            </if>
            <if test="endDate != null">
                create_date &lt;= #{endDate}
            </if>
        </where>
    </select>
</mapper>