<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>
</head>
<body>
<script>
    /*$(function(){

        $.ajax({
            headers: {
                Authorization: "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXNzd29yZCI6ImFkbWluIiwidXNlcm5hbWUiOiJhZG1pbiIsImF1dGhvcml0aWVzIjpbeyJhdXRob3JpdHkiOiJST0xFX0FETUlOIn0seyJhdXRob3JpdHkiOiJST0xFX0hPTUUifSx7ImF1dGhvcml0eSI6InEifV0sImFjY291bnROb25FeHBpcmVkIjp0cnVlLCJhY2NvdW50Tm9uTG9ja2VkIjp0cnVlLCJjcmVkZW50aWFsc05vbkV4cGlyZWQiOnRydWUsImVuYWJsZWQiOnRydWV9.Uq9iKbjQz99ZQIPlBh4GVslh6IwsAG1UFBEM0-SbTzLDfhRGHA7AonBJiYiP2oHJH3wDP-YQRaTl3j9oDIgPRO6D3Qofu2XxZl2wO3lRE-sL4FJZNsmEWKooFeCiUNey-BXgk7-PvuF3QBCpym-jdmKlgtZDZ3sjWQkOFg9UmLI"
            },
            type: "POST",
            url: "/role/create",
            data: JSON.stringify({name:"LL", permissionList:[{"id":1},{"id":2}]}),
            dataType: "json",
            contentType:"application/json",
            success: function(data1){
               alert(data1);
            }
        });
    });*/

    $(function(){

        /*$.ajax({
            headers: {
                Authorization: "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXNzd29yZCI6ImFkbWluIiwidXNlcm5hbWUiOiJhZG1pbiIsImF1dGhvcml0aWVzIjpbeyJhdXRob3JpdHkiOiJST0xFX0FETUlOIn0seyJhdXRob3JpdHkiOiJST0xFX0hPTUUifSx7ImF1dGhvcml0eSI6InEifV0sImFjY291bnROb25FeHBpcmVkIjp0cnVlLCJhY2NvdW50Tm9uTG9ja2VkIjp0cnVlLCJjcmVkZW50aWFsc05vbkV4cGlyZWQiOnRydWUsImVuYWJsZWQiOnRydWV9.Uq9iKbjQz99ZQIPlBh4GVslh6IwsAG1UFBEM0-SbTzLDfhRGHA7AonBJiYiP2oHJH3wDP-YQRaTl3j9oDIgPRO6D3Qofu2XxZl2wO3lRE-sL4FJZNsmEWKooFeCiUNey-BXgk7-PvuF3QBCpym-jdmKlgtZDZ3sjWQkOFg9UmLI"
            },
            type: "POST",
            url: "/account/create",
            data: JSON.stringify({userName:"LL", roles:[{"id":1},{"id":2}]}),
            dataType: "json",
            contentType:"application/json",
            success: function(data1){
                alert(data1);
            }
        });*/

        $.ajax({
            headers: {
                Authorization: "Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhZG1pbiIsImNyZWF0ZWQiOjE1MDAxMDk3MDEzNTAsImV4cCI6MTUwMDcxNDUwMTM1MH0.xADhOcgtL71Ta3oCpCKlCu4XK99y3NJgzol40HdDkeYG9IPlE44qMCqT-lMalEoaljSWA2-nuY8YmycdrhqU_tCTWZb7U7T1Cwyw0MKWBRjQQT0GM7L_6v9A_sv4q08ukLqW79RiuPJJixTBWPHX3epZKaxn4JF0D94adeCyS88"
            },
            type: "GET",
            url: "/role/1",
            dataType: "json",
            contentType:"application/json",
            success: function(data1){
                alert(data1);
            },
            error:function (e) {
                console.log(e);
                alert(e);
            }
        });
    });
</script>

</body>
</html>